"*":
  "atom-spotify2":
    showEqualizer: true
  "autocomplete-python": {}
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "vim-mode"
    ]
    projectHome: "/Users/wilson/_dev"
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    autoIndentOnPaste: false
    fontFamily: "Menlo"
    fontSize: 13
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabType: "soft"
  "exception-reporting":
    userId: "70c999fe-be2b-a2d7-f6b3-1fb6a81372e3"
  linter:
    errorPanelHeight: 101
  "linter-pep8":
    ignoreErrorCodes: [
      "E501"
    ]
  "linter-scss-lint": {}
  minimap: {}
  "python-tools": {}
  "vim-mode":
    useClipboardAsDefaultRegister: true
  "vim-mode-plus": {}
  welcome:
    showOnStartup: false
".django.python.source":
  editor:
    autoIndentOnPaste: true
