"*":
  autosave:
    enabled: true
  core:
    projectHome: "/Users/wilson/_dev"
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontFamily: "Menlo"
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabType: "soft"
  "exception-reporting":
    userId: "70c999fe-be2b-a2d7-f6b3-1fb6a81372e3"
  "linter-pep8": {}
  "python-tools": {}
  welcome:
    showOnStartup: false
